<turbo-stream action="replace" target="notification">
    <template>
        <turbo-frame id="notification">
            <div class="rounded-2xl overflow-hidden">
                <div class="flex justify-between items-center text-base bg-blue-500 px-4 py-2 text-white">
                    <label>@Model.Title</label>
                    <a asp-page="@Model.PathQuitCommand" asp-page-handler="NotificationQuit">X</a>
                </div>
                <div class="h-1 bg-slate-200"></div>
                <div class="px-4 py-2 bg-red-300">
                    <label>@Model.Message</label>
                </div>
            </div>
        </turbo-frame>
    </template>
</turbo-stream>