<turbo-stream action="replace" target="notification">
    <template>
        <turbo-frame id="notification">
            <div class="bg-orange-500 rounded-2xl space-y-1 pb-3">
                <div class="flex justify-between items-center text-base bg-green-500 rounded-full px-5 py-1 text-white">
                    <label>Login Page</label>
                    <a asp-page-handler="NotificationQuit">X</a>
                </div>
                <div class="px-5">
                    <label>Username and Password are not empty.</label>
                </div>
            </div>
        </turbo-frame>
    </template>
</turbo-stream>