<turbo-stream action="replace" target="notification">
    <template>
        <turbo-frame id="notification">
            <div>
                <div>
                    <label>Login Page</label>
                    <label asp-page="Index" asp-page-handler="NotificationQuit">X</label>
                </div>
                <label>User Information Incorrect</label>
            </div>
        </turbo-frame>
    </template>
</turbo-stream>