@page

<turbo-stream action="replace" target="notification">
    <template>
        <turbo-frame id="notification" data-turbo-frame="_top">
            <div>
                <div>
                    <label>Login Page</label>
                </div>
                <label>Username and Password are not empty.</label>
            </div>
        </turbo-frame>
    </template>
</turbo-stream>