@page
@model IndexModel
@{
    ViewData["Title"] = "Login Page";
}

<div class="flex flex-col items-center space-y-5">
    <div class="flex flex-col space-y-5 bg-yellow-200 rounded-full px-10">
        <div class="flex justify-between items-center text-base rounded-full bg-blue-500 px-5 py-3 text-white">
            <a asp-page-handler="SignIn">Sign In</a>
            <label>&</label>
            <a asp-page-handler="SignUp">Sign Up</a>
        </div>
        <turbo-frame id="SignFrame" src="?handler=SignIn"></turbo-frame>
    </div>
</div>