@page
@model MainModel
@{

    ViewData["Title"] = "Home Page";
}

<div class="flex flex-col text-center items-center space-y-5">
    <div class="flex flex-col">
        <label class="text-4xl font-black">Welcome</label>
        <label class="font-semibold">@Program.CurrentAccount?.FullName</label>
    </div>
    <div class="flex flex-col">
        @if (Program.CurrentAccount?.AuthorizationList?
             .Where(s => s.AuthorizationType == Models.AuthorizationType.Read)
             .Select(w => w.Wallet).Count() > 0)
        {
            <div class="flex flex-col">
                <label>My Wallets (@Program.CurrentAccount.AuthorizationList.Count)</label>
                <div class="h-1 bg-blue-500 w-full"></div>
                <turbo-frame id="listWallet" src="?handler=Wallets"></turbo-frame>
            </div>
        }
        <div class="absolute top-0 right-0 m-1 text-xl">
            <turbo-frame id="notification"></turbo-frame>
        </div>
    </div>
    <div></div>
</div>